{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>

  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui/jquery-ui.min.css' %}">

  <script type="text/javascript" src="{% static 'jquery/jquery-3.1.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'jquery-ui/datepicker-zh-TW.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

  {% block script %} {% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand">MigoTest</a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <div class="container-fluid">
    {% block content %} {% endblock %}
  </div>
</body>

</html>